<agm-map [zoom] = "zoom" [latitude] = "latitude" [longitude]="longitude" (mapClick)="onMapClicked($event)">
    
    <agm-marker *ngIf = "isShowTargetPlaceBtn"
    [latitude]="toLatitude" 
    [longitude]="toLongitude"
    [iconUrl]="icon2"
    ></agm-marker>

    <agm-marker 
        [latitude]="latitude" 
        [longitude]="longitude"
        [iconUrl]="icon"
    ></agm-marker>

    <agm-direction [origin]="origin" [destination]="destination">
    </agm-direction>

</agm-map>
<!-- 
<agm-map [latitude]="lat" [longitude]="lng">
    <agm-direction [origin]="origin" [destination]="destination">
    </agm-direction>
</agm-map> -->
