#panel {
    margin: 0 auto;
    height:170px;
    width:670px;
    position: relative;
    top: -740px;
    border-radius: 25px 25px 25px 25px;
    padding: 30px;
    background: white;
}

#BookBtn{
    width: 30%;
    height: 50%;
    margin: 5% 0px 0px 35.5%;
    color: white;
    font-size: 30px;
}