.bt1{
     font-size:60px;
    background:orange;
    padding:1.2em 1.4em;
    border:none;
    margin:5px;
    border-radius:6px;
    transition:0.5s;
}
.bt1 span{
    position:relative;
    display:inline-block;
    cursor:pointer;
    transition:0.5s;
}
.bt1 span:after{
    content:"\OK";
    position:absolute;
    right:-15px;
    transition:0.5s;
    opacity:0;
  color:red;
}
.bt1:hover span{
    padding-right:120px;
}
.bt1:hover span:after{
    opacity:1;
    right:0;
}
.bt1{ 
    box-shadow:0 9px gray;
    cursor:pointer;
    outline:none;
}
.bt1:active{
    transform:translate(0,4px);
  -webkit-transform:translate(0,4px);
    box-shadow:0 4px gray;  
}

.bt2{
     font-size:60px;
    background:green;
    padding:1.2em 1.4em;
    border:none;
    margin:5px;
    border-radius:6px;
    transition:0.5s;
}
.bt2 span{
    position:relative;
    display:inline-block;
    cursor:pointer;
    transition:0.5s;
}
.bt2 span:after{
    content:"\OK";
    position:absolute;
    right:-15px;
    transition:0.5s;
    opacity:0;
  color:red;
}
.bt2:hover span{
    padding-right:120px;
}
.bt2:hover span:after{
    opacity:1;
    right:0;
}
.bt2{ 
    box-shadow:0 9px gray;
    cursor:pointer;
    outline:none;
}
.bt2:active{
    transform:translate(0,4px);
  -webkit-transform:translate(0,4px);
    box-shadow:0 4px gray;  
}


