body{
margin: 0;
padding: 0;
font-family: sans-serif;
background :white;
}
h1{
    font-family: arial;
    font-size: 30;
    background-color: blue;
    color: white;
    text-align: center;

}
.map{
    
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-style:solid ;
    border:1;
    border-color: green;
    border-width: 3px;
}
.btn{
    position: absolute;
    color: white;
    font-size: 50;
    bottom: 5%;
    left: 50%;
    transform:translate(-50%,-50%);
    font-family: Arial;
    background: darkgreen;
    font-style: inherit;
    width: 80px;
    height: 40px;
    text-align: center;
}
form{
    position: absolute;
    bottom: 15%;
    left:50%;
    transform:translate(-50%,-50%);

}