body{
margin: 0;
padding: 0;
font-family: sans-serif;
background :white;
}
h1{
    font-family: arial;
    font-size: 30;
    
    color: white;
    text-align: center;

}
span{
    background-color: blue;
    
}
.map{
    
    position: absolute;
    top: 39%;
    left:50%;
    transform:translate(-50%,-50%);
    border-style:inset ;
    border:1;
    border-color: green;
    border-width: 3px;
    width: 650px;
    height: 470px;
}
.btn{
    position: absolute;
    color: white;
    font-size: 50;
    bottom: 5%;
    left: 50%;
    transform:translate(-50%,-50%);
    font-family: Arial;
    background: darkgreen;
    font-style: inherit;
    width: 80px;
    height: 40px;
    text-align: center;
}
form{
    position: absolute;
    bottom: 7%;
    left:50%;
    transform:translate(-50%,-50%);
    border-width: 3px;
    border-style: solid;
    border-color:skyblue;
    width: 550px;
    height: 100px; 
}
.datxe{
    position: absolute;
    transform:translate(-50%,-50%);
}