body{
    font-family:Arial,sans-serif;
  }
  #cha{
    height:850px;
    width:750px;
    padding:20px 5px;
    margin: 0 auto;
    background: white;
    border-radius:25px;
    position: relative;
    background:blue;
  }
  .main{
    
    height:750px;
    width:700px;
    padding:20px;
    margin: 0 auto;
    background: white;
    border: 5px solid blue;
   
    
  }
  #h1{
  text-align: center;
    margin:0;
    color:white;
  }
  iframe{
   border-radius:25px;
    margin: 0 auto;
    height:500px;
    width:650px;
    padding:20px;
    border: 5px solid green;
  }
  .con{
    border-radius:25px;
    background:white;
   
  }
  button{
    left:50%;
    bottom:5%;
    position:absolute;
    transform:translate(-50%,-50%);
    font-size:26px;
    color:white;
    background:#0000FF;
  }
  .datxe{
    border-radius:25px;
    padding:5px;
    border: 5px solid #66ccff;
    height:8rem;
    font-size:20px;
  }
  input{
    font-size:20px;
  }
  